@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/* Basic Style */
body {
	font-family: 'Roboto', sans-serif;
}

/* Message */
.notifications {
  color: white;
  text-align: center;  
  .notice {
    background-color: lightGreen;
  }
  .alert {
    background-color: red;
  }
}
