%header
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    = link_to root_path do
      %i.fas.fa-home.fa-2x.navbar-brand
    .collapse.navbar-collapse#navbarNav
      %ul.navbar-nav.ml-auto
        %li.nav-item.nav-link
          = link_to t('shared.buttons.user_login'), new_user_session_path
